<p class="notice" ><%= notice %></p>

<h3> Inventory Description </h3>

<p>
  <strong>Title:</strong>
  <%= @food_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  $<%= @food_item.quantity %>
</p>
-----------------------------
